# HYSA TRACKER

Goal of the project is to track how my high-yield savings account performs

In [7]:
'''
Next steps:
Make a function so it's not hard-coded
Make visualizations
'''

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# parameters
annual_rate = 0.0365
starting_balance = 6000
goal = 15000
# convert annual rate to monthly rate. 
monthly_rate = (1 + annual_rate) ** (1/12) - 1 #equation found on google
monthly_contribution = 300
n = 12

# create schedule
schedule = []
balance = starting_balance

for i in range(1, n + 1):
    balance *= (1 + monthly_rate)
    balance += monthly_contribution
    schedule.append({
        "Month": i,
        "Contribution": monthly_contribution,
        "Interest Rate": round(monthly_rate * 100, 5),
        #"Accumulated": round(accumulated, 2),
        "End Balance": round(balance, 2)
    })

# display the schedule
df_schedule = pd.DataFrame(schedule)
print("*" * 20 + " Initial Table " + "*" * 20)
print(df_schedule)

******************** Initial Table ********************
    Month  Contribution  Interest Rate  End Balance
0       1           300        0.29919      6317.95
1       2           300        0.29919      6636.85
2       3           300        0.29919      6956.71
3       4           300        0.29919      7277.53
4       5           300        0.29919      7599.30
5       6           300        0.29919      7922.04
6       7           300        0.29919      8245.74
7       8           300        0.29919      8570.41
8       9           300        0.29919      8896.05
9      10           300        0.29919      9222.67
10     11           300        0.29919      9550.26
11     12           300        0.29919      9878.84

Next step, I want to insert a row at the top to show what I initially started with.

In [7]:
initial = pd.DataFrame({"Month": 0,
                        "Contribution": 0,
                        "Interest Rate": round(monthly_rate * 100, 5),
                        "End Balance": 6000.00},
                        index = [0])
df_schedule = pd.concat([initial, df_schedule]).reset_index(drop = True)

print("*" * 20 + " Starting Balance Table " + "*" * 20)
print(df_schedule)

******************** Starting Balance Table ********************
    Month  Contribution  Interest Rate  End Balance
0       0             0        0.29919      6000.00
1       1           300        0.29919      6317.95
2       2           300        0.29919      6636.85
3       3           300        0.29919      6956.71
4       4           300        0.29919      7277.53
5       5           300        0.29919      7599.30
6       6           300        0.29919      7922.04
7       7           300        0.29919      8245.74
8       8           300        0.29919      8570.41
9       9           300        0.29919      8896.05
10     10           300        0.29919      9222.67
11     11           300        0.29919      9550.26
12     12           300        0.29919      9878.84

## How much money are you getting from interest?

I also want to include a row to see what my earnings from interest are.

In [8]:
'''
Note: 
Probably doing this the long way... but now that I have the initial balance as the first row,
I can do column math to find the accumulated :)
'''
df_schedule['Accumulated'] = (df_schedule['End Balance'] - df_schedule['End Balance'].shift(1)) - monthly_contribution

print("*" * 20 + "  Accumulated Table " + "*" * 20)
print(df_schedule)

********************  Accumulated Table ********************
    Month  Contribution  Interest Rate  End Balance  Accumulated
0       0             0        0.29919      6000.00          NaN
1       1           300        0.29919      6317.95        17.95
2       2           300        0.29919      6636.85        18.90
3       3           300        0.29919      6956.71        19.86
4       4           300        0.29919      7277.53        20.82
5       5           300        0.29919      7599.30        21.77
6       6           300        0.29919      7922.04        22.74
7       7           300        0.29919      8245.74        23.70
8       8           300        0.29919      8570.41        24.67
9       9           300        0.29919      8896.05        25.64
10     10           300        0.29919      9222.67        26.62
11     11           300        0.29919      9550.26        27.59
12     12           300        0.29919      9878.84        28.58

## How long will it take to hit your goal?

Using equation I got using chatgpt...

$$
G = P \cdot \left(1 + \frac{r}{n}\right)^t + C \cdot \left( \frac{(1 + \frac{r}{n})^t - 1}{\frac{r}{n}} \right)
$$

G = goal amount <br>
P = current balance <br>
C = monthly contribution <br>
r = annual interest rate (as decimal) <br>
n = 12 (monthly compounding) <br>
t = number of months <br>

In [9]:
G = 15000
P = 6000
C = 300
r = 0.0365
n = 12

balance = P
months = 0
monthly_rate = r/n

while balance < G:
    balance = balance * (1 + monthly_rate) + C
    months += 1

print(months)

28

## Look at it as a schedule

In [27]:
# give new parameters with 28 months
# parameters
annual_rate = 0.0365
starting_balance = 6000
goal = 15000
# convert annual rate to monthly rate. 
monthly_rate = (1 + annual_rate) ** (1/12) - 1 #equation found on google
monthly_contribution = 300
n = 28

# create schedule
new_schedule = []
balance = starting_balance

for i in range(1, n + 1):
    balance *= (1 + monthly_rate)
    balance += monthly_contribution
    new_schedule.append({
        "Month": i,
        "Contribution": monthly_contribution,
        "Interest Rate": round(monthly_rate * 100, 5),
        "End Balance": round(balance, 2)
    })
df_goal = pd.DataFrame(new_schedule)

# add initial
initial = pd.DataFrame({"Month": 0,
                        "Contribution": 0,
                        "Interest Rate": round(monthly_rate * 100, 5),
                        "End Balance": 6000.00},
                        index = [0])
df_goal = pd.concat([initial, df_goal]).reset_index(drop = True)

# add accumulated column
df_goal['Accumulated'] = (df_goal['End Balance'] - df_goal['End Balance'].shift(1)) - monthly_contribution

print(df_goal)

    Month  Contribution  Interest Rate  End Balance  Accumulated
0       0             0        0.29919      6000.00          NaN
1       1           300        0.29919      6317.95        17.95
2       2           300        0.29919      6636.85        18.90
3       3           300        0.29919      6956.71        19.86
4       4           300        0.29919      7277.53        20.82
5       5           300        0.29919      7599.30        21.77
6       6           300        0.29919      7922.04        22.74
7       7           300        0.29919      8245.74        23.70
8       8           300        0.29919      8570.41        24.67
9       9           300        0.29919      8896.05        25.64
10     10           300        0.29919      9222.67        26.62
11     11           300        0.29919      9550.26        27.59
12     12           300        0.29919      9878.84        28.58
13     13           300        0.29919     10208.39        29.55
14     14           300        0.29919     10538.93        30.54
15     15           300        0.29919     10870.47        31.54
16     16           300        0.29919     11202.99        32.52
17     17           300        0.29919     11536.51        33.52
18     18           300        0.29919     11871.03        34.52
19     19           300        0.29919     12206.54        35.51
20     20           300        0.29919     12543.06        36.52
21     21           300        0.29919     12880.59        37.53
22     22           300        0.29919     13219.13        38.54
23     23           300        0.29919     13558.68        39.55
24     24           300        0.29919     13899.25        40.57
25     25           300        0.29919     14240.83        41.58
26     26           300        0.29919     14583.44        42.61
27     27           300        0.29919     14927.07        43.63
28     28           300        0.29919     15271.73        44.66

How much is the YTD earnings from interest?

In [28]:
YTD_300 = df_goal['Accumulated'].sum()
YTD_300

871.7299999999996

## How much would I have to save to hit my goal by 2026?

$$
G = P \cdot \left(1 + \frac{r}{n}\right)^t + C \cdot \left( \frac{(1 + \frac{r}{n})^t - 1}{\frac{r}{n}} \right)
$$

G = goal amount <br>
P = current balance <br>
C = monthly contribution <br>
r = annual interest rate (as decimal) <br>
n = 12 (monthly compounding) <br>
t = number of months <br>

In [12]:
G = 15000
P = 6000
r = 0.0365
n = 12

balance = P
months = 12
monthly_rate = r/n

C = 0
step = 1  
max_iter = 100000

for _ in range(max_iter):
    balance = P
    for _ in range(months):
        balance = balance * (1 + monthly_rate) + C
    if balance >= G:
        break
    C += step
print(C)

720

I would have to contribute $720 per month in order to hit my goal by 2026

In [24]:
# give new parameters
# parameters
annual_rate = 0.0365
starting_balance = 6000
goal = 15000
# convert annual rate to monthly rate. 
monthly_rate = (1 + annual_rate) ** (1/12) - 1 #equation found on google
monthly_contribution = 720
n = 12

# create schedule
schedule_26 = []
balance = starting_balance

for i in range(1, n + 1):
    balance *= (1 + monthly_rate)
    balance += monthly_contribution
    schedule_26.append({
        "Month": i,
        "Contribution": monthly_contribution,
        "Interest Rate": round(monthly_rate * 100, 5),
        "End Balance": round(balance, 2)
    })
df_goal_2026 = pd.DataFrame(schedule_26)

# add initial
initial = pd.DataFrame({"Month": 0,
                        "Contribution": 0,
                        "Interest Rate": round(monthly_rate * 100, 5),
                        "End Balance": 6000.00},
                        index = [0])
df_goal_2026 = pd.concat([initial, df_goal_2026]).reset_index(drop = True)

# add accumulated column
df_goal_2026['Accumulated'] = (df_goal_2026['End Balance'] - df_goal_2026['End Balance'].shift(1)) - monthly_contribution

print(df_goal_2026)

    Month  Contribution  Interest Rate  End Balance  Accumulated
0       0             0        0.29919      6000.00          NaN
1       1           720        0.29919      6737.95        17.95
2       2           720        0.29919      7478.11        20.16
3       3           720        0.29919      8220.49        22.38
4       4           720        0.29919      8965.08        24.59
5       5           720        0.29919      9711.90        26.82
6       6           720        0.29919     10460.96        29.06
7       7           720        0.29919     11212.26        31.30
8       8           720        0.29919     11965.81        33.55
9       9           720        0.29919     12721.61        35.80
10     10           720        0.29919     13479.67        38.06
11     11           720        0.29919     14240.00        40.33
12     12           720        0.29919     15002.60        42.60

How much is the YTD earnings from interest?

In [29]:
YTD_720 = df_goal_2026['Accumulated'].sum()
YTD_720

362.60000000000036

### What's interesting is that the YTD earnings from interest is higher if I contribute less but keep it in the account for longer.